.group {
  position: relative;
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.group input,
select {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  border: none;
  background-color: #e2f1f8;
}

.group button {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  border: none;
  background-color: #e2f1f8;
}

.group label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 9px;
  transition: 0.2s ease all;
}

.group input:invalid ~ label {
  top: 9px;
  color: #000000;
  font-size: 18px;
}

.group input:valid ~ label {
  top: -20px;
  color: #ffffff;
  font-size: 14px;
}

.group input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: #ffffff;
}

.group select:invalid ~ label {
  top: 25px;
  color: #000000;
  font-size: 18px;
}

.group select:valid ~ label {
  top: -10px;
  color: #ffffff;
  font-size: 14px;
}

.group select:focus ~ label {
  top: -10px;
  font-size: 14px;
  color: #ffffff;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.group .progress-bar {
  width: 0;
  height: 3px;
  background-color: red;
  animation: progress 1.3s infinite forwards;
  display: none;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
