.group { 
  position:relative; 
  display:flex;
  padding: 15px;
}

.group input {
  font-size:18px;
  padding:10px 10px 10px 10px;
  width: 100%;
  border:none;
  background-color: #e2f1f8;
}

.group button {
    font-size:18px;
    padding:10px 10px 10px 10px;
    width: 100%;
    border:none;
    background-color: #e2f1f8;
    margin-top: 20px;
  }
  
.group label {
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:20px;
    transition:0.2s ease all; 
}
.group input:invalid ~ label {
    top:25px;  
    color:#000000; 
    font-size:18px;
}

.group input:valid ~ label {
    top:-10px;
    color:#ffffff;
    font-size:14px;
}

.group input:focus ~ label 		{
    top:-10px;
    font-size:14px;
    color:#ffffff;
}

.group .mb-20 {
    margin-bottom: 20px;
}